
@{
    ViewBag.Title = "操作紀錄查詢";
    ViewBag.ActiveNav = "History";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*操作紀錄列表 - Third Cotainer - Start*@
<div class="cotainer-fluid shadow p-3 mb-4 bg-body-tertiary rounded bg-light">

    <div class="row border-bottom border-2 ">
        <div class="col text-start fs-5 fw-bold" style="color: #1565C0">操作紀錄列表&nbsp;<i class="fa-solid fa-list"></i></div>
    </div>

    <div class="row">
    </div>
</div>
@*操作紀錄列表 - Third Cotainer - End*@

