<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="LogDirectory" value="~/App_Data/Logs"/>

	<targets>
		<target name="RuntimeException" xsi:type="File" fileName="${basedir}/App_Data/Logs/${shortdate}/${longdate}.log"
			layout="發生時間：${longdate}${newline}發生紀錄器：RuntimeException${newline}發生類別：${callsite}${newline}日誌等級：${uppercase:${level}}${newline}${message}${newline}內容追蹤： ${exception:format=ToString,StackTrace}"/>
		/>

		<target name="Db"
				xsi:type="Database"
				dbProvider="System.Data.SqlClient"
				commandText="insert into mywebni1_managerc.tb_logs_history(login_user_id,login_user_name,operation,affected_data,date_time) values (@login_user_id, @login_user_name, @operation, @affected_data, @date_time);">
			<parameter name="@login_user_id" layout="${event-properties:login_user_id}"/>
			<parameter name="@login_user_name" layout="${event-properties:login_user_name}"/>
			<parameter name="@operation" layout="${event-properties:operation}"/>
			<parameter name="@affected_data" layout="${message}"/>
			<parameter name="@date_time" layout="${longdate}"/>
		</target>
		<!--connectionStringName="MFPContext"-->
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="RuntimeException" />
		<logger name="OperationLog" minlevel="Info" writeTo="Db" />
	</rules>

</nlog>