
@{
    Layout = "~/Areas/Config/Views/Shared/_ConfigLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Import</title>
</head>
<body>
    <div>
        Import the employee infomation.
    </div>
</body>
</html>
