
@{
    ViewBag.Title = "卡片管理";
    ViewBag.ActiveNav = "card";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section CardJS{
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="module" src="@Url.Content("~/Scripts/AdminPartialViewScripts/card.js")"></script>
}


@*欄位搜尋選項 - First Container - Start*@
<div class="cotainer-fluid shadow border border-light p-3 mb-4 bg-body-tertiary rounded bg-light bg-gradient">

    <div class="row border-bottom border-2 ">
        <div class="col text-start fs-5 fw-bold" style="color: #1565C0">
            欄位搜尋選項&nbsp;<i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>

    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-4 row-cols-xl-6 border-start border-2 bg-secondary bg-opacity-10">

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold align-content-center">
                <div class="col">
                    卡片編號
                </div>
            </div>
            <div class="row align-items-center border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchCard_CardID" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold align-content-center">
                <div class="col">
                    點數
                </div>
            </div>
            <div class="row align-items-center border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchCard_Point" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold align-content-center">
                <div class="col">
                    免費點數
                </div>
            </div>
            <div class="row align-items-center border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchCard_FreePort" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold align-content-center">
                <div class="col">
                    使用者帳號
                </div>
            </div>
            <div class="row align-items-center border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchCard_Account" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold align-content-center">
                <div class="col">
                    使用者姓名
                </div>
            </div>
            <div class="row align-items-center border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchCard_Name" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold align-content-center">
                <div class="col">
                    屬性
                </div>
            </div>
            <div class="row align-items-center border-bottom border-2">
                <div class="col align-self-center py-2">
                    <select id="searchCard_AttributeSelect" class="form-select">
                        <option id="searchCard_AttributeAll" selected value>全部</option>
                        <option id="searchCard_AttributeAsc" value="0">遞減</option>
                        <option id="searchCard_AttributeDesc" value="1">遞增</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold align-content-center">
                <div class="col">
                    使用狀態
                </div>
            </div>
            <div class="row align-items-center border-bottom border-2">
                <div class="col align-self-center py-2">
                    <div class="dropdown">
                        <select id="searchCard_StatusSelect" class="form-select">
                            <option id="searchCard_StatusAll" selected value>全部</option>
                            <option id="searchCard_StatusDisable" value="0">停用</option>
                            <option id="searchCard_StatusAvailable" value="1">可用</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@*欄位搜尋選項 - First Container - End*@

@*卡片列表 - Third Cotainer - Start*@
<div class="cotainer-fluid shadow p-3 mb-4 bg-body-tertiary rounded bg-light bg-gradient">

    <div class="row border-bottom border-2">
        <div class="col text-start fs-5 fw-bold" style="color: #1565C0">
            卡片列表&nbsp;<i class="fa-solid fa-list"></i>
            <button id="btnAddCard" type="button" class="ms-3 btn btn-success mb-1">新增卡片</button>
            <button id="btnResetCardFreePoint" type="button" class="ms-3 btn btn-warning mb-1">重設免費點數</button>
            <div class="modal fade" id="cardForm" role="dialog" data-url='@Url.Action("AddOrEdit","Card")'></div>
        </div>
    </div>

    <div class="row p-2">
        <table id="searchCardDataTable" class="table table-striped table-bordered w-100 table-hover">
            <thead>
                <tr>
                    <th>卡片編號</th>
                    <th>點數</th>
                    <th>免費點數</th>
                    <th>使用者帳號</th>
                    <th>使用者姓名</th>
                    <th>屬性</th>
                    <th>使用狀態</th>
                    <th>操作</th>
                    <th>serial</th>
                </tr>
            </thead>
        </table>
    </div>

</div>
@*卡片列表 - Third Cotainer - End*@