
@{
    ViewBag.Title = "部門管理";
    ViewBag.ActiveNav = "Department";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section DepartmentJS{
    <script type="module" src="~/Scripts/AdminPartialViewScripts/department.js"></script>
}

@*欄位搜尋選項 - First Container - Start*@
<div class="cotainer-fluid shadow p-3 mb-4 bg-body-tertiary rounded bg-light">

    <div class="row border-bottom border-2 ">
        <div class="col-6 text-start fs-5 fw-bold" style="color: #1565C0">
            欄位搜尋選項&nbsp;<i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>

    <div class="row border-x border-bottom border-2 bg-secondary bg-opacity-10">

        <div class="col border-start border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold">
                <div class="col">
                    部門編號
                </div>
            </div>
            <div class="row">
                <div class="col align-self-center pt-2 pb-2">
                    <input id="searchDepartment_DepartmentID" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold">
                <div class="col">
                    部門名稱
                </div>
            </div>
            <div class="row">
                <div class="col align-self-center pt-2 pb-2">
                    <input id="searchDepartment_DepartmentName" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold">
                <div class="col">
                    可用點數上限
                </div>
            </div>
            <div class="row">
                <div class="col align-self-center pt-2 pb-2">
                    <input id="searchDepartment_AvailablePointLimit" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold">
                <div class="col">
                    可用遞增餘額
                </div>
            </div>
            <div class="row">
                <div class="col align-self-center pt-2 pb-2">
                    <input id="searchDepartment_AvailableBalance" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold">
                <div class="col">
                    狀態
                </div>
            </div>
            <div class="row">
                <div class="col align-self-center pt-2 pb-2">
                    <select id="searchDepartment_StatueSelect" class="form-select">
                        <option id="searchDepartment_StatueAll" selected value>全部</option>
                        <option id="searchDepartment_StatueDisable" value="0">停用</option>
                        <option id="searchDepartment_StatueEnable" value="1">啟用</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold">
                <div class="col">
                    信箱
                </div>
            </div>
            <div class="row">
                <div class="col align-self-center pt-2 pb-2">
                    <input id="searchDepartment_Mail" type="text" class="form-control">
                </div>
            </div>
        </div>

    </div>
</div>
@*欄位搜尋選項 - First Container - End*@

@*部門列表 - Third Cotainer - Start*@
<div class="cotainer-fluid shadow p-3 mb-4 bg-body-tertiary rounded bg-light">

    <div class="row border-bottom border-2 ">
        <div class="col text-start fs-5 fw-bold" style="color: #1565C0">
            部門列表&nbsp;<i class="fa-solid fa-list"></i>
            <button id="btnAddDepartment" type="button" class="ms-3 btn btn-success mb-1">新增部門</button>
            <div class="modal fade" id="departmentForm" role="dialog" data-url='@Url.Action("AddOrEditDepartment","Department")'></div>
        </div>
    </div>

    <div class="row p-2">
        <div class="table-responsive">
            <table id="searchDepartmentDataTable" class="table table-striped table-bordered w-100">
                <thead>
                    <tr>
                        <th>部門編號</th>
                        <th>部門名稱</th>
                        <th>可用點數上限</th>
                        <th>可用遞增餘額</th>
                        <th>狀態</th>
                        <th>部門管理者Email</th>
                        <th>操作</th>
                        <th>serial</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</div>
@*部門列表 - Third Cotainer - End*@

