
@{
    ViewBag.Title = "操作紀錄查詢";
    ViewBag.ActiveNav = "History";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section HistoryJS{
    <script src="@Url.Content("~/Scripts/AdminPartialViewScripts/history.js")"></script>
}

@*操作紀錄列表 - Third Cotainer - Start*@
<div class="cotainer-fluid shadow p-3 mb-4 bg-body-tertiary rounded bg-light">

    <div class="row border-bottom border-2 ">
        <div class="col text-start fs-5 fw-bold" style="color: #1565C0">操作紀錄列表&nbsp;<i class="fa-solid fa-list"></i></div>
    </div>

    <div class="row p-2">
        <table id="searchHistoryDataTable" class="table table-striped table-bordered w-100 table-hover">
            <thead>
                <tr>
                    <th>時間</th>
                    <th>帳號</th>
                    <th>姓名</th>
                    <th>操作動作</th>
                    <th>操作資料</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@*操作紀錄列表 - Third Cotainer - End*@

