
@{
    ViewBag.Title = "浮水印管理";
    ViewBag.ActiveNav = "Watermark";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section WatermarkJS{
    <script type="module" src="~/Scripts/AdminPartialViewScripts/watermark.js"></script>
}


@*欄位搜尋選項 - First Container - Start*@
<div class="cotainer-fluid shadow p-3 mb-4 bg-body-tertiary rounded bg-light">

    <div class="row border-bottom border-2 ">
        <div class="col-6 text-start fs-5 fw-bold" style="color: #1565C0">欄位搜尋選項&nbsp;<i class="fa-solid fa-magnifying-glass"></i></div>
    </div>

    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-6 row-cols-xl-6 border-start border-2 bg-secondary bg-opacity-10">

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold align-content-center">
                <div class="col">
                    類別
                </div>
            </div>
            <div class="row align-items-center border-bottom">
                <div class="col align-self-center py-2">
                    <select id="searchWatermark_TypeSelect" class="form-select">
                        <option id="searchWatermark_TypeAll" selected value>全部</option>
                        <option id="searchWatermark_TypeImage" value="0">圖片</option>
                        <option id="searchWatermark_TypeText" value="1">文字</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold align-content-center">
                <div class="col">
                    左邊偏移
                </div>
            </div>
            <div class="row align-items-center border-bottom">
                <div class="col align-self-center py-2">
                    <input id="searchWatermark_LeftBias" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold align-content-center">
                <div class="col">
                    右邊偏移
                </div>
            </div>
            <div class="row align-items-center border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchWatermark_RightBias" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold align-content-center">
                <div class="col">
                    上邊偏移
                </div>
            </div>
            <div class="row align-items-center border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchWatermark_TopBias" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold align-content-center">
                <div class="col">
                    下邊偏移
                </div>
            </div>
            <div class="row align-items-center border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchWatermark_BottomBias" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold align-content-center">
                <div class="col">
                    浮水印位置
                </div>
            </div>
            <div class="row align-items-center border-bottom border-2">
                <div class="col align-self-center py-2">
                    <select id="searchWatermark_PositionSelect" class="form-select">
                        <option id="searchWatermark_PositionAll" selected value>全部</option>
                        <option id="searchWatermark_PositionLeftUp" value="0">左上</option>
                        <option id="searchWatermark_PositionLeftDown" value="1">左下</option>
                        <option id="searchWatermark_PositionRightUp" value="2">右上</option>
                        <option id="searchWatermark_PositionRightDown" value="3">右下</option>
                        <option id="searchWatermark_PositionCenter" value="4">中間</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold align-content-center">
                <div class="col">
                    填滿方式
                </div>
            </div>
            <div class="row align-items-center border-bottom border-2">
                <div class="col align-self-center py-2">
                    <select id="searchWatermark_FillTypeSelect" class="form-select">
                        <option id="searchWatermark_FillTypeAll" selected value>全部</option>
                        <option id="searchWatermark_FillType1" value="0">無</option>
                        <option id="searchWatermark_FillType2" value="1">依原圖比例多餘裁切</option>
                        <option id="searchWatermark_FillType3" value="2">依原圖比例不裁切</option>
                        <option id="searchWatermark_FillType4" value="3">依紙張比例</option>
                        <option id="searchWatermark_FillType5" value="4">重覆填滿</option>
                        <option id="searchWatermark_FillType6" value="5">置中，並依原圖比例多餘裁切</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold align-content-center">
                <div class="col">
                    文字
                </div>
            </div>
            <div class="row align-items-center border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchWatermark_Text" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold align-content-center">
                <div class="col">
                    圖片位置
                </div>
            </div>
            <div class="row align-items-center border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchWatermark_ImageLocation" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold align-content-center">
                <div class="col">
                    旋轉角度
                </div>
            </div>
            <div class="row align-items-center border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchWatermark_Rotate" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold align-content-center">
                <div class="col">
                    顏色
                </div>
            </div>
            <div class="row align-items-center border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchWatermark_Color" type="text" class="form-control">
                </div>
            </div>
        </div>

    </div>
</div>
@*欄位搜尋選項 - First Container - End*@

@*浮水印列表 - Third Cotainer - Start*@
<div class="cotainer-fluid shadow p-3 mb-4 bg-body-tertiary rounded bg-light">

    <div class="row border-bottom border-2 ">
        <div class="col text-start fs-5 fw-bold" style="color: #1565C0">
            浮水印列表&nbsp;<i class="fa-solid fa-list"></i>
            <button id="btnAddWatermark" type="button" class="ms-3 btn btn-success mb-1">新增浮水印</button>
            <div class="modal fade" id="watermarkForm" role="dialog" data-url='@Url.Action("AddOrEditWatermark","Watermark")'></div>
        </div>
    </div>

    <div class="row p-2">
        <table id="searchWatermarkDataTable" class="table table-striped table-bordered w-100">
            <thead>
                <tr>
                    <th>類別</th>
                    <th>左邊偏移</th>
                    <th>右邊偏移</th>
                    <th>上邊偏移</th>
                    <th>下邊偏移</th>
                    <th>浮水印位置</th>
                    <th>填滿方式</th>
                    <th>文字</th>
                    <th>圖片位置</th>
                    <th>旋轉角度</th>
                    <th>顏色</th>
                    <th>操作</th>
                    <th>id</th>
                </tr>
            </thead>
        </table>
    </div>

</div>
@*浮水印列表 - Third Cotainer - End*@
