body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*select,
textarea {
    max-width: 280px;
}*/

.input-validation-error {
    border: 1px solid #ff0000 !important;
}

.custom-divider-gradient {
    margin: 20px auto 20px auto;
    text-align: center;
    height: 2px;
    width: 80%;
    /* hsl(hue saturation lightness / alpha) */
    background: linear-gradient(90deg, hsl(0, 100%, 50%), hsl(60, 100%,50%), hsl(216, 100%, 50%));
}

.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}
