
@{
    ViewBag.Title = "卡片管理";
    ViewBag.ActiveNav = "Card";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section CardJS{
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/AdminPartialViewScripts/card.js"></script>
}


@*欄位搜尋選項 - First Container - Start*@
<div class="cotainer-fluid shadow p-3 mb-4 bg-body-tertiary rounded bg-light">

    <div class="row border-bottom border-2 ">
        <div class="col-6 text-start fs-5 fw-bold" style="color: #1565C0">欄位搜尋選項(name=C總管全部管理者)&nbsp;<i class="fa-solid fa-magnifying-glass"></i></div>
    </div>

    <div class="row border-bottom border-2 bg-secondary bg-opacity-10">

        <div class="col border-start border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold h-25 align-content-center">卡片編號</div>
            <div class="row h-75 align-items-center">
                <div class="col align-self-center pt-2 pb-2">
                    <input id="searchCard_CardID" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold h-25 align-content-center">點數</div>
            <div class="row h-75 align-items-center">
                <div class="col align-self-center pt-2 pb-2">
                    <input id="searchCard_Point" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold h-25 align-content-center">免費點數</div>
            <div class="row h-75 align-items-center">
                <div class="col align-self-center pt-2 pb-2">
                    <input id="searchCard_FreePort" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold h-25 align-content-center">使用者帳號</div>
            <div class="row h-75 align-items-center">
                <div class="col align-self-center pt-2 pb-2">
                    <input id="searchCard_Account" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold h-25 align-content-center">使用者姓名</div>
            <div class="row h-75 align-items-center">
                <div class="col align-self-center pt-2 pb-2">
                    <input id="searchCard_Name" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold h-25 align-content-center">屬性</div>
            <div class="row h-75 align-items-center">
                <div class="col align-self-center pt-2 pb-2">
                    <select id="searchCard_AttributeSelect" class="form-select">
                        <option id="searchCard_AttributeAll" selected value>全部</option>
                        <option id="searchCard_AttributeAsc" value="0">遞增</option>
                        <option id="searchCard_AttributeDesc" value="1">遞減</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold h-25 align-content-center">使用狀態</div>
            <div class="row h-75 align-items-center">
                <div class="col align-self-center pt-2 pb-2">
                    <div class="dropdown">
                        <select id="searchCard_StatusSelect" class="form-select">
                            <option id="searchCard_StatusAll" selected value>全部</option>
                            <option id="searchCard_StatusDisable" value="0">停用</option>
                            <option id="searchCard_StatusAvailable" value="1">可用</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@*欄位搜尋選項 - First Container - End*@

@*卡片列表 - Third Cotainer - Start*@
<div class="cotainer-fluid shadow p-3 mb-4 bg-body-tertiary rounded bg-light">

    <div class="row border-bottom border-2">
        <div class="col text-start fs-5 fw-bold" style="color: #1565C0">
            卡片列表&nbsp;<i class="fa-solid fa-list"></i>
            <button id="btnAddCard" type="button" class="ms-3 btn btn-success mb-1">新增卡片</button>
            <button id="btnResetCardFreePoint" type="button" class="ms-3 btn btn-warning mb-1">重設免費點數</button>
            <div class="modal fade" id="cardForm" role="dialog" data-url='@Url.Action("AddCard","Card")'></div>
        </div>
    </div>

    <div class="row p-2">
        <table id="searchCardDataTable" class="table table-striped table-bordered w-100">
            <thead>
                <tr>
                    <th>卡片編號</th>
                    <th>點數</th>
                    <th>免費點數</th>
                    <th>使用者帳號</th>
                    <th>使用者姓名</th>
                    <th>屬性</th>
                    <th>使用狀態</th>
                    <th>操作</th>
                    <th>serial</th>
                </tr>
            </thead>
        </table>
    </div>

</div>
@*卡片列表 - Third Cotainer - End*@