@{


}

<table id="outputReportRecordDataTable" class="table table-striped table-bordered w-100 table-hover">
    <thead>
    <tr class="fs-5" style="white-space:nowrap">
        <th>事務機</th>
        <th>使用人員</th>
        <th>部門</th>
        <th>卡號</th>
        <th>屬性</th>
        <th>動作</th>
        <th>顏色</th>
        <th>張數</th>
        <th>使用點數</th>
        <th>列印時間</th>
        <th>文件名稱</th>
    </tr>
    </thead>
</table>