
@{
    ViewBag.Title = "儲值紀錄";
    ViewBag.ActiveNav = "deposit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section DepositJS{
    <script type="module" src="@Url.Content("~/Scripts/AdminPartialViewScripts/deposit.js")"></script>
}


@*欄位搜尋選項 - First Container - Start*@
<div class="cotainer-fluid shadow p-3 mb-4 bg-body-tertiary rounded bg-light">

    <div class="row border-bottom border-2 ">
        <div class="col-6 text-start fs-5 fw-bold" style="color: #1565C0">
            欄位搜尋選項&nbsp;<i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>

    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-6 row-cols-xl-6 bg-secondary border-start border-2 bg-opacity-10">

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold">
                <div class="col">

                    儲值人員
                </div>
            </div>
            <div class="row border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchDeposit_Name" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold">
                <div class="col">
                    儲值帳號
                </div>
            </div>
            <div class="row border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchDeposit_Account" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold">
                <div class="col">
                    儲值卡號
                </div>
            </div>
            <div class="row border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchDeposit_CardNumber" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold">
                <div class="col">
                    卡片持有者帳號
                </div>
            </div>
            <div class="row border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchDeposit_CardOwnerAccount" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold">
                <div class="col">
                    卡片持有者姓名
                </div>
            </div>
            <div class="row border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchDeposit_CardOwnerName" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold">
                <div class="col">
                    儲值前點數
                </div>
            </div>
            <div class="row border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchDeposit_BeforePoint" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold">
                <div class="col">
                    儲值點數
                </div>
            </div>
            <div class="row border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchDeposit_Point" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold">
                <div class="col">
                    儲值後點數
                </div>
            </div>
            <div class="row border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchDeposit_AfterPoint" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="col col-xxl border-end border-2 ">
            <div class="row justify-content-center border-bottom border-2 fw-semibold">
                <div class="col">
                    儲值時間
                </div>
            </div>
            <div class="row border-bottom border-2">
                <div class="col align-self-center py-2">
                    <input id="searchDeposit_Time" type="text" class="form-control">
                </div>
            </div>
        </div>

    </div>
</div>
@*欄位搜尋選項 - First Container - End*@

@*儲值紀錄列表 - Second Cotainer - Start*@
<div class="cotainer-fluid shadow p-3 mb-4 bg-body-tertiary rounded bg-light">

    <div class="row border-bottom border-2 ">
        <div class="col-6 text-start fs-5 fw-bold" style="color: #1565C0">儲值紀錄列表&nbsp;<i class="fa-solid fa-clock-rotate-left"></i></div>
    </div>

    <div class="row p-2">
        <table id="searchDepositDataTable" class="table table-striped table-bordered w-100 table-hover">
            <thead>
                <tr>
                    <th>儲值人員</th>
                    <th>儲值帳號</th>
                    <th>儲值卡號</th>
                    <th>卡號持有者帳號</th>
                    <th>卡號持有者姓名</th>
                    <th>儲值前點數</th>
                    <th>儲值點數</th>
                    <th>儲值後點數</th>
                    <th>儲值時間</th>
                </tr>
            </thead>
        </table>
    </div>

</div>
@*儲值紀錄列表 - Second Cotainer - End*@